/* 
    默认属性
*/
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.clearfix:after {
  content: "";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.clearfix {
  zoom: 1;
}
body {
  min-width: 1080px;
}
header {
  width: 100%;
  background-color: #fff;
}
header .header-main {
  width: 1080px;
  margin: 0 auto;
  height: 125px;
  padding-top: 28px;
  box-sizing: border-box;
}
header .header-main .logo {
  float: left;
  width: 278px;
}
header .header-main .search {
  width: 350px;
  height: 36px;
  margin-top: 18px;
  font-size: 0;
  box-sizing: border-box;
  float: left;
  margin-left: 110px;
}
header .header-main .search input {
  width: 197px;
  height: 100%;
  float: left;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #cccccc;
  vertical-align: middle;
  padding-left: 10px;
}
header .header-main .search .select-box {
  height: 100%;
  width: 107px;
  float: left;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-left: 0;
  overflow: hidden;
}
header .header-main .search .select-box select {
  width: 100%;
  height: 36px;
  outline: none;
  box-sizing: border-box;
  border: none;
  padding-left: 10px;
}
header .header-main .search img {
  display: block;
  height: 36px;
  box-sizing: border-box;
  border-left: 0;
}
header .header-main .tel {
  width: 248px;
  height: 69px;
  float: right;
  box-sizing: border-box;
  background: url("img/tel.jpg") no-repeat 0px 9px;
  padding-left: 52px;
  padding-top: 9px;
}
header .header-main .tel p {
  font-size: 16px;
  color: #000000;
}
header .header-main .tel h1 {
  font-size: 22px;
  color: #000000;
}
nav {
  height: 100px;
  width: 100%;
  background-color: #043e80;
  border-bottom: 10px solid #fff;
}
nav ul {
  width: 1080px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
nav ul li {
  flex: 1;
  height: 100%;
  text-align: center;
  background-image: linear-gradient(to right, #043e80, #0754ac);
}
nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #ffffff;
}
nav ul li a p {
  padding-top: 34px;
  font-size: 16px;
}
nav ul li a span {
  font-size: 12px;
}
nav ul li .select-nav {
  display: block;
  height: 32px;
  width: 100%;
}
.swiper-container {
  width: 1080px;
  height: 440px;
  margin: 0 auto;
  background-color: pink;
}
.swiper-container .swiper-wrapper {
  width: 1080px;
  height: 440px;
}
.swiper-container .swiper-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
}
.box-title {
  line-height: 33px;
  border-bottom: 1px solid #cfd9e2;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.box-title h3 {
  float: left;
  border-bottom: 2px solid #0754ac;
  font-size: 18px;
}
.box-title h3 span {
  margin-right: 5px;
  color: #0754ac;
}
.box-title a {
  float: right;
  font-size: 12px;
  color: #0754ac;
}
.main {
  width: 1080px;
  margin: 0 auto;
}
.main .main-top {
  width: 100%;
  height: 290px;
  box-sizing: border-box;
  margin-top: 23px;
  padding: 17px;
  background-color: #fff;
}
.main .main-top .solution {
  width: 235px;
  float: left;
}
.main .main-top .solution .solution-title {
  height: 35px;
  line-height: 35px;
  background-color: #0756b0;
  color: #fff;
  padding: 0 25px 0 12px;
}
.main .main-top .solution .solution-title h3 {
  font-size: 18px;
}
.main .main-top .solution .solution-title a {
  font-size: 12px;
  float: right;
  color: #fff;
}
.main .main-top .solution .solution-main {
  padding: 20px 40px 0;
}
.main .main-top .solution .solution-main li {
  list-style: square;
  line-height: 23px;
}
.main .main-top .solution .solution-main a {
  font-size: 12px;
  color: #676767;
}
.main .main-top .about {
  width: 480px;
  float: left;
  margin-left: 34px;
}
.main .main-top .about .about-main {
  padding: 0 5px;
}
.main .main-top .about .about-main img {
  display: block;
  float: left;
  width: 166px;
  height: 180px;
}
.main .main-top .about .about-main .about-content {
  width: 290px;
  float: right;
}
.main .main-top .about .about-main .about-content p {
  margin-top: 10px;
  text-indent: 2rem;
  float: right;
  font-size: 12px;
  color: #676767;
  line-height: 20px;
}
.main .main-top .contact {
  float: left;
  width: 256px;
  margin-left: 32px;
}
.main .main-top .contact .contact-main img {
  width: 100%;
}
.main .main-top .contact .contact-main ul {
  padding: 10px 7px;
}
.main .main-top .contact .contact-main ul li {
  font-size: 12px;
  line-height: 20px;
}
.main .main-middle .cases {
  width: 100%;
  height: 286px;
  box-sizing: border-box;
  margin-top: 23px;
  padding: 17px;
  background-color: #fff;
}
.main .main-middle .cases .cases-content {
  display: flex;
  margin-top: 23px;
}
.main .main-middle .cases .cases-content a {
  display: block;
  float: 0.25;
  margin: 0 12px;
  position: relative;
}
.main .main-middle .cases .cases-content a img {
  display: block;
  width: 100%;
}
.main .main-middle .cases .cases-content a span {
  position: absolute;
  display: block;
  width: 100%;
  height: 32px;
  line-height: 32px;
  bottom: 0;
  background-color: #0754ac;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.main .main-bottom {
  width: 100%;
  height: 320px;
  box-sizing: border-box;
  margin-top: 23px;
  padding: 17px;
  background-color: #fff;
  display: flex;
}
.main .main-bottom .new,
.main .main-bottom .industry,
.main .main-bottom .product {
  flex: 1;
}
.main .main-bottom .new ul li,
.main .main-bottom .industry ul li,
.main .main-bottom .product ul li {
  height: 36px;
  line-height: 36px;
  border-bottom: 1px dotted #cccccc;
  padding-left: 15px;
}
.main .main-bottom .new ul a,
.main .main-bottom .industry ul a,
.main .main-bottom .product ul a {
  font-size: 10px;
}
.main .main-bottom .new ul a::before,
.main .main-bottom .industry ul a::before,
.main .main-bottom .product ul a::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #000000;
  vertical-align: middle;
  margin-right: 8px;
}
.main .main-bottom .industry {
  margin: 0 42px;
}
.footer {
  height: 142px;
  width: 100%;
  background-color: #043e80;
  margin-top: 45px;
}
.footer .footer-main {
  width: 1080px;
  margin: 0 auto;
  display: flex;
}
.footer .footer-main .left {
  flex: 2;
  color: #ffffff;
  padding-top: 30px;
}
.footer .footer-main .left h3 {
  font-size: 24px;
}
.footer .footer-main .left p {
  font-size: 30px;
}
.footer .footer-main .main {
  flex: 6;
  text-align: center;
  margin-top: 40px;
  box-sizing: border-box;
}
.footer .footer-main .main ul li {
  display: inline-block;
  padding: 0 8px;
}
.footer .footer-main .main ul a {
  color: #cccccc;
  font-size: 12px;
}
.footer .footer-main .main ul span {
  font-size: 12px;
}
.footer .footer-main .main p {
  font-size: 12px;
  color: #fff;
  margin-top: 8px;
}
.footer .footer-main .right {
  flex: 2;
}
.footer .footer-main .right img {
  display: block;
  float: right;
  width: 104px;
  height: 104px;
  margin-top: 20px;
  margin-right: 10px;
}
/* 
	关于我们
*/
.slideshow img {
  display: block;
  margin: 0 auto ;
}
.public-main {
  width: 1080px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 15px;
  padding: 25px;
  background-color: #fff;
}
.public-main .public-main-left {
  width: 220px;
  float: left;
  margin-right: 36px;
}
.public-main .public-main-left h3 {
  font-size: 48px;
  vertical-align: middle;
  position: relative;
  color: #3182dd;
  margin-bottom: 8px;
}
.public-main .public-main-left h3 p {
  font-size: 18px;
  position: absolute;
  top: 6px;
  left: 36px;
}
.public-main .public-main-left ul li {
  width: 100%;
  height: 28px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  line-height: 28px;
  margin-bottom: 7px;
}
.public-main .public-main-left ul li a {
  font-size: 12px;
  color: #000000;
  display: block;
  padding-left: 26px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.public-main .public-main-left ul li a:hover {
  background-color: #0756b0;
  color: #fff;
}
.public-main .public-main-right {
  width: calc(100% - 220px - 36px);
  float: left;
}
.public-main .public-main-right .right-title {
  padding: 0 5px 8px 5px;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 25px;
}
.public-main .public-main-right .right-title h4 {
  display: inline;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}
.public-main .public-main-right .right-title p {
  font-size: 12px;
  color: #676767;
  display: inline;
  float: right;
  padding-top: 12px;
}
.public-main .public-main-right .right-title p a {
  color: #676767;
}
.public-main .public-main-right .right-main {
  padding: 0 12px;
  width: 100%;
  box-sizing: border-box;
}
.public-main .public-main-right .right-main p {
  font-size: 14px;
  color: #666666;
  line-height: 28px;
  margin-top: 16px;
  text-indent: 2rem;
}
.public-main .public-main-right .right-main #list {
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
}
.public-main .public-main-right .right-main #list li {
  width: calc((100% - 40px)/4);
  padding: 0 5px;
}
.public-main .public-main-right .right-main #list li img {
  display: block;
  width: 100%;
}
.public-main .public-main-right .right-main #list li span {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #000000;
}
.public-main .public-main-right .right-main #pagenation {
  text-align: center;
  margin-top: 15px;
}
.public-main .public-main-right .right-main #pagenation a {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: #e7e7e7;
  text-align: center;
  line-height: 36px;
  color: #000000;
}
.public-main .public-main-right .right-main #case-detail h2 {
  text-align: center;
  font-size: 16px;
  line-height: 50px;
}
.public-main .public-main-right .right-main #case-detail img {
  display: block;
  margin: 0 auto;
}
.public-main .public-main-right .right-main #case-detail ul {
  font-size: 14px;
  text-align: center;
  margin-top: 25px;
}
.public-main .public-main-right .right-main #case-detail ul span:first-child {
  margin-right: 25px;
}
.public-main .public-main-right .right-main #case-detail ul a {
  color: #000000;
}
.public-main .public-main-right .right-main #news li {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #cccccc;
}
.public-main .public-main-right .right-main #news li img {
  display: block;
  width: 200px;
  height: 140px;
  margin-right: 20px;
}
.public-main .public-main-right .right-main #news li .news-content {
  width: calc(100% - 220px);
}
.public-main .public-main-right .right-main #news li .news-content h3 {
  margin-top: 0;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
}
.public-main .public-main-right .right-main #news li .news-content h3 a {
  float: left;
  font-size: 16px;
}
.public-main .public-main-right .right-main #news li .news-content p {
  text-indent: 0;
}
.public-main .public-main-right .right-main #news li .news-content .readmore {
  float: right;
  margin-top: 7px;
  font-size: 14px;
  color: red;
}
.public-main .public-main-right .right-main #message h3 {
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}
.public-main .public-main-right .right-main #message .top {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.public-main .public-main-right .right-main #message .top input {
  display: block;
  width: calc((100% - 20px)/2);
  height: 42px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: none;
  background-color: #dbdde1;
  padding-left: 15px;
}
.public-main .public-main-right .right-main #message .bottom input {
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  border: none;
  background-color: #dbdde1;
  padding-left: 15px;
  margin-bottom: 15px;
}
.public-main .public-main-right .right-main #message .bottom textarea {
  width: 100%;
  height: 84px;
  background-color: #dbdde1;
  border: none;
  padding: 15px;
  box-sizing: border-box;
}
.public-main .public-main-right .right-main #message input[type='submit'] {
  width: 230px;
  height: 44px;
  background-color: #3498db;
  border: none;
  margin-top: 10px;
  outline: none;
  color: #fff;
  font-weight: 600;
}
.public-main .public-main-right .right-main #contact p {
  font-size: 18px;
  padding-left: -15px;
  text-indent: 0;
  line-height: 24px;
}
.public-main .public-main-right .right-main #contact .map {
  width: 100%;
  height: 500px;
  background-color: pink;
  margin-top: 15px;
}
