// 公共样式
* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}

.clearfix {
	content: "";
	display: block;
	overflow: hidden;
	clear: both;
}
.clearfix::after {
	zoom: 1;
}
body {
	margin: 10px;
	font-size: 14px;
	font-family: "微软雅黑";
}

// 表格的基础样式
table {
	width: 100%;
	border: 1px solid #666666;
	column-span: none;
	thead {
		width: 100%;
		th {
			height: 35px;
		}
	}
	tbody {
		tr {
			text-align: center;
			height: 32px;
		}
		button {
			width: 60px;
			height: 28px;
			font-size: 14px;
			color: #ffffff;
			background-color: #1890ff;
			border: none;
			margin-right:4px ;
			&:nth-child(2) {
				background-color:#ff4d4f;
			}
		}
	
		img {
			width: 150px;
			padding: 5px 0;
		}
	}
}

// 头部操作栏
#action {
	margin-bottom: 10px;
	.left {
		float: left;
		button {
			width: 65px;
			height: 32px;
			margin-right: 7px;
			border: none;
			color: #ffffff;
			font-size: 16px;
		}
		#add {
			background-color: #1890ff;
		}
		#del {
			background-color: #ff4d4f;
		}
	}
	.right {
		float: right;
		line-height: 32px;
		input {
			height: 32px;
			box-sizing: border-box;
			padding-left: 10px;
			outline: none;
		}
		button {
			color: #ffffff;
			background-color: #1890ff;
			border: none;
			font-size: 16px;
			width: 65px;
			height: 32px;
			box-sizing: border-box;
		}
		select {
			height: 32px;
			padding-left: 8px;
		}
	}
}

// 分页栏
#pages {
	margin-top: 10px;
	float: right;
	ul {
		li {
			display: inline-block;
			a {
				display: block;
				height: 30px;
				line-height: 30px;
				text-align: center;
				padding: 0 10px;
				color: #666666;
				border: 1px solid #999999;
				border-radius: 3px;
				&:hover {
					border: 1px solid #1890ff;
					color: #333333;
				}
			}
		}
	}
}

// 类别展示
#sortclasslist {
	padding: 20px 35px;
	width: 800px;
	#addtoplevel {
		background-color: #1890ff;
	}
	tbody {
		td {
			height: 40px;
		}
		td:nth-child(3) {
			text-align: left;
			padding-left: 20px;
		}
		button {
			&:nth-child(2) {
				background-color: #73d13d;
				margin: 0 10px;
			}
			&:nth-child(3) {
				background-color: #f5222d;
			}
		}
	}
}
// 类别添加页面
#sortadd {
	div {
		font-size: 18px;
		width: 500px;
		border: 1px solid #333333;
		padding: 20px 15px;
		margin: 50px;
		vertical-align: middle;
		li {
			input[type="text"] {
				width: 250px;
				height: 25px;
				vertical-align: top;
				padding-left: 15px;
			}
			input[type="button"] {
				display: block;
				margin-top: 15px;
				height: 30px;
				width: 80px;
				background-color: #1890ff;
				border: none;
				outline: 1px solid #73d13d;
			}
		}
	}
}


// 照片上传input的样式
#img_upload {
	input {
		width: 92px;
		height: 38px;
		opacity: 0;
	}
	span {
		width: 92px;
		height: 38px;
		display: block;
		background-color: #009688;
		margin-top: -38px;
		line-height: 38px;
		text-align: center;
		color: aliceblue;
    }
    img {
        display: block;
        width: 300px;
        margin-top: 10px;
    }
}

// 登录页面
#loginpage {
	margin: 0;
	padding: 0;
	height: 100vh;
	.left {
		float: left;
		width: 65%;
		height: 100%;
		background-color: #F6F8FB;
		position: relative;
		.main {
			width: 364px;
			height: 500px;
			background-color: #FFFFFF;
			position: absolute;
			// float: right;
			right: -187px;
			top: 75px;
			box-sizing: border-box;
			padding: 35px 37px 0 37px;
			border-radius: 10px;
			box-shadow: #000000 5px 5px 25px ;
			header {
				h1 {
					font-size: 32px;
					font-weight: 500px;
					letter-spacing: 2px;
					padding-bottom: 10px;
					border-bottom: 3px solid #009688;
				}
			}
			form {
				margin-top: 15px;

				input {
					width: 100%;
					height: 36px;
					outline: none;
					margin-bottom: 15px;
					padding-left: 10px;
					box-sizing: border-box;

				}
				input[type='button'],
				input[type='submit'] {
					border-radius: 40px;
					height: 40px;
					margin-top: 15px;
					border: none;
					background-color: #2468F2;
					border: 1px solid #cccccc;
				}
				span{
					font-size: 16px;
					display: block;
					margin-bottom: 5px;
				}
				a{	
					font-size: 12px;
					&:nth-child(2) {
						float: right;
					}
				}
			}
		}
	}
	.right{
		float: right;
		width: 35%;
		height: 100%;
		background-color: #2468F2;
	}
}
